<ng-include src="'assets/pages/navbar_after_login.html'"></ng-include>
<ng-include src="'assets/pages/leftSideBar.html'"></ng-include>
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
<style>
    .fb-profile img.fb-image-lg {
        z-index: 0;
        width: 100%;
        margin-bottom: -100px;
        margin-top: -30px;
        height: 350px;
    }

    .fb-image-profile {
        margin: -90px 10px 0px 50px;
        z-index: 9;
        width: 20%;
    }



    .row-profile {
        background-color: rgb(14, 54, 66);
        margin: 0px;
    }

    .col-md-8 {
        margin-top: 110px;
        color: white;
    }

    .horizontal_list li {
        padding-left: 20px;
        display: inline-block;

    }

    a {
        text-decoration: none;

    }
    .profile-container{
        margin: 30px 10px 20px 10px;
    }
    .profile-box{
        height: 250px;
        background-color: #fff !important;
        box-shadow: 1px 1px 10px 3px lightgrey;
        margin-top: 20px;
        padding: 15px;
    }
    .status-box{
        height: auto;
        background-color: #fff !important;
        box-shadow: 1px 1px 10px 3px lightgrey;
        margin-top: 20px;
        padding: 15px;    
    }
    .post-box{
        width: 100%;
        border: 2px solid #a5a3a3;
        border-radius: 10px;
        outline: none;
    }
    .status-footer{
        text-align: right;
    }
    .newsfeed-box{
        height: 300px;
        background-color: #fff !important;
        box-shadow: 1px 1px 10px 3px lightgrey;
        margin-top: 20px;
        padding: 15px;  
    }

</style>

<div class="container befitDivContent">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="assets/img/walk.jpg" alt="Profile cover" />
    </div>
    <img align="left" class="fb-image-profile thumbnail" src="assets/img/profile.jpg" alt="Profile image" />
    <div class="row row-profile">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <div class="col-sm-10">
                <ul class="horizontal_list">
                    <li><a href="#" style="color:white"><i class="fa fa-clock-o"></i>Timeline</a></li>
                    <li><a href="#" style="color:white"><i class="fa fa-user"></i>About</a></li>
                    <li><a href="#" style="color:white"><i class=" fa fa-picture-o"></i>Achievements (0)</a></li>
                    <li><a href="#" style="color:white"><i class="fa fa-users"></i>Friends (0)</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <a href="#profileUpdate"> <button style="color:black;">Edit profile</button></a>
            </div>
        </div>
    </div>
    <div class="row profile-container">
        <div class="col-sm-3">
            <div class="col-sm-12 profile-box">
                <center><strong>Friends</strong></center>
                <hr>
            </div>
            <div class="col-sm-12 profile-box">
                <center><strong>Achivement</strong></center>
                <hr>
            </div> 
            <div class="col-sm-12 profile-box">
                <center><strong>Photos</strong></center>
                <hr>
            </div> 
        </div>
        <div class="col-sm-8" style="margin-left: 40px;">
            <div class="col-sm-12 status-box">
                <strong>Whats on your mind? share with your friends.</strong>
                <div class="col-sm-12 input-box">
                    <textarea rows="5" class="post-box" ng-model="status"></textarea>
                </div>
                <div class="col-sm-12 status-footer">
                    <!--<button class="btn btn-info">Photos</button>-->
                    <button class="btn btn-info" ng-click="updateStatus()">Update</button>    
                </div>
            </div>
            <hr>
            <div class="col-sm-12 newsfeed-box" ng-repeat="news in newsFeedArray">
                
            </div>
        </div>
    </div>
</div>



















